<nav class="mb-5 bg-teal-500 text-white p-6">
	<div class="container mx-auto <%= @width %> grid items-center gap-5   sm:grid-cols-12 sm:items-center">
		<div class="col-span-3 flex gap-2 items-center">
			<%= image_tag('logo.svg', class: 'inline-block w-8 h-8') %>
			<div class="font-semibold text-xl tracking-tight">Shopping</div>
		</div>

		<div class="col-span-6">
			<div class="grid grid-rows-1 gap-2   sm:flex sm:gap-5">
				<%= render Layout::LinkComponent.new label: 'Home', url: root_url, profile: :header %>
				<%= render Layout::LinkComponent.new label: 'Producs', url: products_url, profile: :header %>
				<%= render Layout::LinkComponent.new label: 'Shopping Cart', url: shopping_carts_url, profile: :header %>
			</div>
		</div>

		<div class="col-span-3  sm:text-right">
			<%= render Layout::LinkComponent.new url: shopping_carts_url do %>
				<span class="line_items   relative text-lg font-bold pr-1"><%= @line_items %></span>
				<%= image_tag('cart.svg', class: 'inline-block w-8 h-8') %>
				<span class="total   text-lg font-bold"><%= @total %></span>
			<% end %>
		</div>
	</div>

</nav>
