<% if @type == 'button' && @url.present? %>
	<<%= @type %> class="w-full sm:w-auto">
	<a class="inline-block <%= colors(@color, type: @type) %> <%= @cls %>" href="<%= @url %>"><%= @label %><%= content %></a>
	</<%= @type %>>
<% else %>
	<<%= @type %> href="<%= @url %>" class="<%= colors(@color, type: @type) %> <%= @cls %>"><%= @label %><%= content %></<%= @type %>>
<% end %>
