<% if @notice.present? %>
	<p class="w-100 py-2 px-3 bg-green-200 mb-5 text-green-600 font-medium rounded-lg" id="notice"><%= @notice %></p>
<% end %>
<% if @alert.present? %>
	<p class="w-100 py-2 px-3 bg-red-200 mb-5 text-red-600 font-medium rounded-lg" id="alert"><%= @alert %></p>
<% end %>
