<%= render Layout::HeaderComponent.new width: @width, session: @session %>
<main class="container mx-auto mb-5 px-5">
	<div class="<%= @width %>">
		<%= render Layout::MessageComponent.new alert: @alert, notice: @notice %>
		<%= render Layout::HeadingComponent.new text: @title %>

		<%= content %>
	</div>
</main>
