<%= form_with(model: shopping_cart, class: "contents") do |form| %>
	<%= render Form::ErrorComponent.new model: shopping_cart %>

	<% shopping_cart.line_items.each do |line_item| %>
		<%= fields_for 'shopping_cart[line_items[]]', line_item do |line| %>
			<%= render line_item, form: line %>
		<% end %>
	<% end %>

	<hr class="mt-10 mb-5" />

	<div class="sm:grid sm:grid-cols-2">
		<div class="mb-5 sm:col-span-1">
			<%= render Form::SubmitButtonComponent.new form: form, label: 'Update' %>
		</div>
		<div class="mb-5 sm:col-span-1  text-right">
			<%= render Form::SubmitButtonComponent.new form: form, name: :empty, label: 'Remove All' %>
		</div>
	</div>

	<hr class="mb-5" />
<% end %>
