<%= render Layout::PageComponent.new title: 'Shopping Cart', alert: alert, notice: notice, session: @session do %>

	<% if @shopping_cart.present? %>
		<hr class="mb-5" />

		<div class="text-right">
			<%= render Layout::LinkComponent.new label: 'Proceed to Checkout', url: new_order_url, color: :blue, type: 'button' %>
		</div>

		<hr class="my-5 mb-10" />

		<%= render "form", shopping_cart: @shopping_cart %>
	<% else %>
		<div class="cart_empty   my-5">Your shopping cart is empty</div>

		<%= render Layout::LinkComponent.new label: 'Back to Shopping', url: products_url, color: :grey, type: 'button' %>
	<% end %>

<% end %>
