<% if @model&.errors&.any? %>
	<div id="error_explanation" class="grid grid-rows-1 gap-4 bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
		<h2><%= pluralize(@model.errors.count, "error") %> prohibited this <%= @model.class.name.titleize %> from being
			saved:</h2>

		<ul class="ml-4 list-disc">
			<% @model.errors.each do |error| %>
				<li><%= error.full_message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
