<%= @form.submit name: @name, class: "#{colors(@color, type: 'submit')} font-bold py-2 px-4 rounded cursor-pointer text-sm inline-block w-full bg-blue-500 text-white   sm:w-auto #{@cls}", value: @label %>
