<div>
	<%= @form.label @name %>
	<%= @form.text_field @name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
	<%= error_message_on(@form.object, @name) %>
</div>
