<%= form_with(model: order, class: "contents") do |form| %>
	<%= render Form::ErrorComponent.new model: order %>

	<div class="grid grid-rows-1 gap-10 mb-8">
		<%= render Form::ModelComponent.new record_name: 'order[customer]', model: order.customer do |customer| %>
			<%= customer.text(form: customer.form, name: :first_name) %>
			<%= customer.text(form: customer.form, name: :last_name) %>
			<%= customer.text(form: customer.form, name: :email_address) %>
			<%= customer.text(form: customer.form, name: :phone_number) %>
			<%= customer.form.hidden_field(:id, value: order.customer.id) %>
		<% end %>

		<%= render Form::ModelComponent.new record_name: 'order[address]', model: order.address do |address| %>
			<%= address.text(form: address.form, name: :line_1) %>
			<%= address.text(form: address.form, name: :line_2) %>
			<%= address.text(form: address.form, name: :city) %>
			<%= address.text(form: address.form, name: :postcode) %>
			<%= address.form.hidden_field(:id, value: order.address.id) %>
		<% end %>

		<div class="grid grid-rows gap-5">
			<hr />
			<div class="grid grid-cols-2">
				<div class="col-span">
					<%= render Layout::LinkComponent.new label: 'Back to shopping cart', url: shopping_carts_path, color: :grey, type: 'button' %>
				</div>

				<div class="col-span text-right">
					<%= render Form::SubmitButtonComponent.new form: form, label: 'Place Order' %>
				</div>
			</div>
			<hr />
		</div>
	</div>
<% end %>
