<div id="<%= dom_id order %>" class="w-full">
	<div class="grid grid-rows-1 gap-5 mb-8">

		<%= render Layout::GroupComponent.new label: 'Customer' do %>
			<%= render Layout::FieldComponent.new label: 'First Name', cls: 'first_name', value: order.customer.first_name %>
			<%= render Layout::FieldComponent.new label: 'Last Name', cls: 'last_name', value: order.customer.last_name %>
			<%= render Layout::FieldComponent.new label: 'Email Address', cls: 'email_address', value: order.customer.email_address %>
			<%= render Layout::FieldComponent.new label: 'Phone Number', cls: 'phone_number', value: order.customer.phone_number %>
		<% end %>

		<%= render Layout::GroupComponent.new label: 'Address' do %>
			<%= render Layout::FieldComponent.new label: 'Line 1', cls: 'line_1', value: order.address.line_1 %>
			<%= render Layout::FieldComponent.new label: 'Line 2', cls: 'line_2', value: order.address.line_2 %>
			<%= render Layout::FieldComponent.new label: 'City', cls: 'city', value: order.address.city %>
			<%= render Layout::FieldComponent.new label: 'Postcode', cls: 'postcode', value: order.address.postcode %>
		<% end %>

	</div>
</div>
