<div id="<%= dom_id @line_item %>" class="line_item   text-left grid grid-rows-1 gap-4 my-10   sm:text-left sm:grid-cols-12 sm:gap-4">

	<h3 class="text-center text-lg   sm:text-left sm:order-2 sm:col-span-8   lg:col-span-9">
		<%= render Layout::LinkComponent.new label: @line_item.product.name, url: product_url(@line_item.product), color: :blue, cls: 'product_name   text-lg' %>
	</h3>

	<div class="sm:order-1 sm:col-span-2   lg:col-span-1">
		<p class="text-center text-sm   sm:hidden">Quantity</p>
		<%= @form.text_field :quantity, value: @line_item.quantity, class: 'quantity   w-full text-center   sm:text-left sm:w-12' %>
		<%= helpers.error_message_on(@form.object, :quantity) %>
	</div>

	<div class="sm:order-3 sm:col-span-2  text-right">
		<%= render Form::SubmitButtonComponent.new form: @form, name: "shopping_cart[line_items][#{@line_item.id}][destroy]", label: 'Remove', color: :blue, cls: 'w-full   sm:w-auto' %>
	</div>

</div>
