<%= form_with(model: @line_item, class: "contents") do |form| %>
	<div class="text-center grid grid-rows-1 gap-4 mb-8   sm:grid-cols-10 sm:text-left <%= dom_class(@product) %>">

		<div class="product_image   sm:col-span-4">
			<%= render Layout::LinkComponent.new url: product_url(@product), cls: 'w-full' do %>
				<%= image_tag(url_for(@product.hero_image), class: 'w-full') %>
			<% end %>
		</div>

		<div class="sm:col-span-6">
			<div class="grid grid-rows-1 gap-4 h-full items-start">

				<div class="grid grid-rows-1 gap-4">
					<h3 class="product_name">
						<%= render Layout::LinkComponent.new label: @product.name, url: product_url(@product), color: :blue, cls: 'text-lg' %>
					</h3>

					<% if @product.premium? %>
						<p class="product_premium">
							<span class="font-normal bg-yellow-300 rounded-md p-1">Premium</span>
						</p>
					<% end %>

					<div class="product_price">
						<%= number_to_currency(@product.price) %>
					</div>
				</div>


				<div class="product_add_to_basket   sm:text-right">
					<%= render Form::SubmitButtonComponent.new form: form, label: 'Add to Basket', color: :blue %>
				</div>

			</div>
		</div>
		<div class="product_description   sm:col-span-12">
			<%= @product.description %>
		</div>
	</div>

	<%= form.hidden_field :product_id, value: @product.id %>
<% end %>
