<%= form_with(model: @line_item, class: "contents") do |form| %>
	<div class="text-center grid grid-rows-1 gap-4 sm:text-left sm:grid-cols-10 sm:gap-4 <%= dom_class(@product) %>">

		<div class="product_image   sm:col-span-2 sm:min-h-26">
			<%= render Layout::LinkComponent.new url: product_url(@product), cls: 'w-full' do %>
				<%= image_tag(url_for(@product.hero_image), class: 'w-full') %>
			<% end %>
		</div>

		<div class="h-full   sm:col-span-6">
			<div class="grid grid-rows-1 gap-4   sm:items-end">

				<h3 class="product_name   font-bold">
					<%= render Layout::LinkComponent.new label: @product.name, url: product_url(@product), color: :blue, cls: 'text-lg' %>
				</h3>

				<p class="product_description   text-gray-800 text-clip overflow-hidden   sm:block sm:h-7   md:h-12   lg:h-24   xl:h-36   2xl:h-48 ">
					<%= @product.description %>
				</p>

				<% if @product.premium? %>
					<p class="product_premium">
						<span class="font-normal bg-yellow-300 rounded-md p-1">Premium</span>
					</p>
				<% end %>

			</div>
		</div>
		<div class="h-full   sm:col-span-2">
			<div class="grid gap-4 h-full items-end   sm:grid-auto-rows ">

				<div class="product_price   text-blue-800 text-2xl w-full text-center">
					<%= number_to_currency(@product.price) %>
				</div>

				<div class="product_add_to_basket   w-full text-center">
					<%= render Form::SubmitButtonComponent.new form: form, label: 'Add to Basket', color: :blue %>
				</div>

			</div>
		</div>
	</div>

	<%= form.hidden_field :product_id, value: @product.id %>
<% end %>
