<%= render Layout::PageComponent.new title: 'Home', alert: alert, notice: notice, session: @session do %>
	<div class="grid grid-rows-1 gap-5">
		<h2>Welcome to Shopping :-)</h2>

		<%= render Layout::LinkComponent.new label: 'Start Shopping', url: products_url, type: :button, color: :blue %>

		<div>
			<h3>Assumptions:</h3>
			<ul class="ml-4 list-disc">
				<li>Shopping cart is persistent - Most of my ecommerce projects have had the requirement for persistent shopping
					cart so I've created the cart as a standard model
				</li>
				<li>No CSS - Pure Tailwind</li>
				<li>No Javascript - As the project is simple and can be implemented cleanly without the use of javascript, I
					have opted to not use javascript
				</li>
			</ul>
		</div>

		<div>
			<h3>Additional Gems:</h3>
			<ul class="ml-4 list-disc">
				<li>Interactions (active_interaction) /app/interactions/ - Services with a few extra features - Used where an
					operation requires
					updates to multiple models, ensures thin models and thin controllers
				</li>
				<li>Components (view_component) /app/components/ - Partials with extra features - View html broken down into
					components
				</li>
				<li>Shoulda - For testing relationships on models</li>
				<li>Parallel tests - For running specs in parallel</li>
			</ul>
		</div>

		<div>
			<h3>Testing:</h3>

			<ul class="ml-4 list-disc">
				<li>All behaviors are done using features: /spec/features with shared_examples</li>
				<li>I have additionally included: Component, Model, Request, Routing and View Tests</li>
				<li>Testing has not be optimized for performance, some tests could easily be combined together to improve
					performance
				</li>
				<li>Edge Cases - with the time constraints I've included important edge cases but not all edge cases</li>
			</ul>
		</div>

		<div>
			<h3>Considerations:</h3>

			<ul class="ml-4 list-disc">
				<li>Sessions/ Shopping basket performance: Should this be implemented for a high volume site the shopping basket
					/
					session functionality would be stored in redis
				</li>
				<li>Product / Address duplication: With a real shopping environment I would expect addresses and product
					information to change, but for orders you would want to show the information at the time of purchase and so
					this
					information would be duplicated and attached to the order
				</li>
			</ul>
		</div>

		<div>
			<h3>Changes from Spec</h3>
			<li>Checkout - The tests specifically specified the button on the shopping cart would be called "Checkout" which I
				have renamed to "Proceeed to Checkout" (hope thats ok).
			</li>
		</div>

		<%= render Layout::LinkComponent.new label: 'Start Shopping', url: products_url, type: :button, color: :blue %>
	</div>
<% end %>
