<% if defined?(type) && type == :list %>
	<%= render Shopping::ProductListingComponent.new product: product, line_item: @line_item %>
<% else %>
	<%= render Shopping::ProductDetailedComponent.new product: product, line_item: @line_item %>
<% end %>
