<%= render Layout::PageComponent.new title: 'Products', alert: alert, notice: notice, session: @session do %>
	<div id="products" class="min-w-full grid grid-rows-1 gap-5">
		<%= render @products, type: :list %>
	</div>
<% end %>
