<%= render Layout::PageComponent.new title: 'Product', alert: alert, notice: notice, session: @session do %>

	<%= render @product %>

	<%= render Layout::LinkComponent.new label: 'Back to products', url: products_path, color: :grey, type: 'button' %>
<% end %>>
